{% extends 'layout.html.twig' %}

{% block title %} - {{ title }}{% endblock %}

{% block content %}

    {% include 'include/_breadcrumb.html.twig' with {'title': title} only %}

    {{ form_start(form) }}
        <section class="section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {{ form_errors(form) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-9">
                        {{ form_rest(form) }}
                    </div>
                    <div class="col-12 col-md-3">
                        <button type="submit" class="btn-mycook">Valider</button>
                    </div>
                </div>
            </div>
        </section>
    {{ form_end(form) }}

{% endblock %}
