{% extends 'layout.html.twig' %}

{% block title %} - Les catégories{% endblock %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <a href="{{ path('category_create') }}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Ajouter une catégorie</a>
        </div>
    {% endif %}

    {% include 'include/_breadcrumb.html.twig' with {'title': 'Les Catégories'} only %}

    <section class="list-category-area section-padding-80">
        <div class="container">
            <div class="row">
                {% for item in categories %}
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="single-category-area mb-30">
                            <div class="img-hover-zoom rounded-circle">
                                <a href="{{ path('category_show', {'id': item.id}) }}">
                                    <img src="{{ asset(uri_category~'/'~item.id~'.jpg') | imagine_filter('cat') }}">
                                </a>
                            </div>
                            <div class="category-title">
                                <a href="{{ path('category_show', {'id': item.id}) }}"><h5>{{ item.name }}</h5></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
