{% extends 'base.html.twig' %}

{% block title %} - Les catégories{% endblock %}

{% block body %}

    <h1 class="my-4"><i class="fas fa-tag"></i>&nbsp;Catégories</h1>

    {% include 'include/_flashbag.html.twig' %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <a href="{{ path('category_create') }}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Ajouter</a>
        </div>
    {% endif %}

    <h3><i class="fas fa-list-alt"></i>&nbsp;Liste des catégories</h3>

    <div class="row my-2 text-center">
    {% for category in categories %}
        <div class="col-2">
            <div class="my-2"><a href="{{ path('category_show', {'id': category.id}) }}"><img src="{{ asset('images/home-cat1.jpg') }}" width="100" height="100" class="rounded-circle"></a></div>
            <h5><a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a></h5>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{# &nbsp;<a href="{{ path('ingredient_update', {'id': category.id}) }}" class="btn btn-sm btn-info"><i class="fas fa-edit"></i></a> #}