

{% block _app_collection_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                <button type="button" class="btn btn-primary btn-sm collection-btn-add">
                    <i class="fas fa-plus"></i>&nbsp;{{ addButtonLabel | default('Add') }}
                </button>
                {{- form_help(form) -}}
            </div>
        </div>
    {%- endif -%}
{%- endblock %}


{# Nom de 'block_name' de la Collection des étapes dans le formualaire "RecipeType" #}
{% block _recipe_recipe_steps_row -%}
    {% with { addButtonLabel: 'Nouvelle étape' } %}
        {{ block ('_app_collection_row') }}
    {% endwith %}
{%- endblock %}


{# Nom de 'block_name' de la Collection des ingrédients dans le formulaire "RecipeType" #}
{% block _recipe_recipe_ingredients_row -%}
    {% with { addButtonLabel: 'Nouvel ingrédient' } %}
        {{ block ('_app_collection_row') }}
    {% endwith %}
{%- endblock %}


{# Nom de 'block_prefix' du formulaire "StepType" #}
{% block recipe_step_row -%}
    <div class="form-group form-row collection-item">
        <div class="col-sm-12">
            <div class="form-group form-row form-control-sm">
                <div class="col-12 col-lg-11">
                    {{ form_widget(form.content, { attr: form.content.vars.attr|merge({'class': form.content.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.content) }}
                    {{ form_help(form.content) }}
                </div>
                <div class="col-2 col-lg-1">
                    <button type="button" class="btn btn-danger btn-sm collection-btn-delete">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}


{# Nom de 'block_prefix' du formulaire "RecipeIngredientType" #}
{% block recipe_ingredient_row -%}
    <div class="form-group form-row collection-item">
        <div class="col-sm-12">
            <div class="form-group form-row form-control-sm">
                <div class="col-12 col-lg-4">
                    {{ form_widget(form.ingredient, { attr: form.ingredient.vars.attr|merge({'class': form.ingredient.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.ingredient) }}
                    {{ form_help(form.ingredient) }}
                </div>
                <div class="col-12 col-lg-1">
                    {{ form_widget(form.quantity, { attr: form.quantity.vars.attr|merge({'class': form.quantity.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.quantity) }}
                    {{ form_help(form.quantity) }}
                </div>
                <div class="col-12 col-lg-2">
                    {{ form_widget(form.unity, { attr: form.unity.vars.attr|merge({'class': form.unity.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.unity) }}
                    {{ form_help(form.unity) }}
                </div>
                <div class="col-12 col-lg-4">
                    {{ form_widget(form.note, { attr: form.note.vars.attr|merge({'class': form.note.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.note) }}
                    {{ form_help(form.note) }}
                </div>
                <div class="col-2 col-lg-1">
                    <button type="button" class="btn btn-danger btn-sm collection-btn-delete">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}
