{% extends 'base.html.twig' %}

{% form_theme form _self %}

{# Nom de 'block_prefix' du formulaire "StepType" #}
{% block recipe_step_row -%}
    <div class="form-group form-row collection-item">
        <div class="col-sm-12">
            <div class="form-group form-row form-control-sm">
                <div class="col-12 col-lg-11">
                    {{ form_widget(form.content, { attr: form.content.vars.attr|merge({'class': form.content.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.content) }}
                    {{ form_help(form.content) }}
                </div>
                <div class="col-2 col-lg-1">
                    <button type="button" class="btn btn-danger btn-sm collection-btn-delete">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}


{# Nom de 'block_prefix' du formulaire "RecipeIngredientType" #}
{% block recipe_ingredient_row -%}
    <div class="form-group form-row collection-item">
        <div class="col-sm-12">
            <div class="form-group form-row form-control-sm">
                <div class="col-12 col-lg-4">
                    {{ form_widget(form.ingredient, { attr: form.ingredient.vars.attr|merge({'class': form.ingredient.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.ingredient) }}
                    {{ form_help(form.ingredient) }}
                </div>
                <div class="col-12 col-lg-1">
                    {{ form_widget(form.quantity, { attr: form.quantity.vars.attr|merge({'class': form.quantity.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.quantity) }}
                    {{ form_help(form.quantity) }}
                </div>
                <div class="col-12 col-lg-2">
                    {{ form_widget(form.unity, { attr: form.unity.vars.attr|merge({'class': form.unity.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.unity) }}
                    {{ form_help(form.unity) }}
                </div>
                <div class="col-12 col-lg-4">
                    {{ form_widget(form.note, { attr: form.note.vars.attr|merge({'class': form.note.vars.attr['class']|default('') ~ ' form-control-sm' }) }) }}
                    {{ form_errors(form.note) }}
                    {{ form_help(form.note) }}
                </div>
                <div class="col-2 col-lg-1">
                    <button type="button" class="btn btn-danger btn-sm collection-btn-delete">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}


{% block title %} - Catégorie{% endblock %}

{% block body %}

    <h1 class="my-4"><i class="fas fa-utensils"></i>&nbsp;Recettes</h1>

    {% if recipe.id %}
        <div class="float-right">
            <form method="post" action="{{ path('recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Suppression de cette recette ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
                <button class="btn action btn-sm btn-danger"><i class="fas fa-trash"></i>&nbsp;Supprimer</button>
            </form>
        </div>
        <h3 class="my-3"><i class="fas fa-edit"></i>&nbsp;{{ recipe.name }}</h3>
    {% else %}
        <h3 class="my-3"><i class="fas fa-plus-circle"></i>&nbsp;Nouvelle recette</h3>
    {% endif %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div class="text-right">
            {% if recipe.id %}
                <a class="btn btn-sm btn-secondary" href="{{ path('recipe_show', {'id': recipe.id}) }}">Retour</a>
                <button class="btn btn-info"><i class="fas fa-edit"></i>&nbsp;Modifier</button>
            {% else %}
                <a class="btn btn-sm btn-secondary" href="{{ path('recipe_index') }}">Retour</a>
                <button class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Ajouter</button>
            {% endif %}
        </div>
    {{ form_end(form) }}

    {% include 'recipe/_create-ingredient.modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('recipe') }}
{% endblock %}