{% extends 'base.html.twig' %}

{% block title %} - Recettes{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <a href="{{ path('recipe_create') }}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Ajouter une recette</a>
        </div>
    {% endif %}

    <h1 class="my-4">Les recettes</h1>

    {% include 'include/_flashbag.html.twig' %}

    <div class="row my-2">
    {% for item in recipes %}
        <div class="col-4">
            <figure class="figure">
                <a href="{{ path('recipe_show', { id: item.id }) }}" class="img-hover-zoom"><img  src="{{ asset(uri_recipe~'/'~item.id~'.png') }}" class="figure-img img-fluid rounded"></a>
                <figcaption><a href="{{ path('recipe_show', { id: item.id }) }}" class="text-dark d-block mt-1 font-weight-bold">{{ item.name }}</a></figcaption>
            </figure>
        </div>
    {% endfor %}
    </div>

{% endblock %}
