{% extends 'base.html.twig' %}

{% block title %} - Recette {{ recipe.name }}{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <div class="btn-toolbar mb-3" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <a href="{{ path('recipe_update', {'id': recipe.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i>&nbsp;Modifier la recette</a>
                </div>
            </div>
        </div>
    {% endif %}

    <h1 class="my-4">{{ recipe.name }}</h1>

    <div class="row my-2">
        <div class="col-8">
            <img  src="{{ asset(uri_recipe~'/'~recipe.id~'.jpg') }}" class="figure-img img-fluid rounded">
        </div>
        <div class="col-4">
            <table class="table table-borderless">
            <tr>
                <th><i class="fi-xxxxx3-team-solid"></i></th>
                <td class="align-middle">{{ recipe.person }} personnes</td>
            </tr>
            <tr>
                <th><i class="fi-xxxxx3-chef-hat"></i></th>
                <td class="align-middle">{{ recipe.difficulty }}</td>
            </tr>
            <tr>
                <th><i class="fi-cwlux3-euro-symbol"></th>
                <td class="align-middle">{{ recipe.rate }}</td>
            </tr>
            <tr>
                <th><i class="fi-xxxxx3-dot-restaurant"></i></th>
                <td class="align-middle">{{ recipe.timePreparation }} min</td>
            </tr>
            <tr>
                <th><i class="fi-xxxxx3-manhole-wide"></i></th>
                <td class="align-middle">{{ recipe.timeCooking }} min</td>
            </tr>
            <tr>
                <th><span class="border border-dark rounded-lg p-2 heading-3">kCal</span></th>
                <td class="align-middle">{{ recipe.calorie }} / pers</td>
            </tr>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-3">
            <h3>Ingredients</h3>
            <table class="table table-borderless">
            {% for item in recipe.ingredients %}
                <tr>
                    <th>{{ item.quantity }} {{ item.unity }}</th>
                    <td>{{ item.ingredient.name }}</td>
                    <td>{% if item.note %}<i class="fas fa-info-circle" data-toggle="tooltip" title="{{ item.note|e }}"></i>{% endif %}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-9">
            <h3>Etapes</h3>
            <table class="table table-borderless">
            {% for item in recipe.steps %}
                <tr>
                    <th><div class="border border-dark rounded-circle p-0">&nbsp;{{ loop.index }}&nbsp;</div></th>
                    <td>{{ item.content }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    
    



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
{% endblock %}
