{% extends 'base.html.twig' %}

{% block title %} - Catégorie{% endblock %}

{% block body %}

    <h1 class="my-4"><i class="fas fa-tag"></i>&nbsp;Idée de recette</h1>

    {% if idea.id %}
        <div class="float-right">
            <form method="post" action="{{ path('idea_delete', {'id': idea.id}) }}" onsubmit="return confirm('Suppression de cette idée recette ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idea.id) }}">
                <button class="btn action btn-sm btn-danger"><i class="fas fa-trash"></i>&nbsp;Supprimer</button>
            </form>
        </div>
        <h3 class="my-3"><i class="fas fa-edit"></i>&nbsp;{{ idea.name }}</h3>
    {% else %}
        <h3 class="my-3"><i class="fas fa-plus-circle"></i>&nbsp;Nouvelle idée de recette</h3>
    {% endif %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div class="text-right">
            {% if idea.id %}
                <a class="btn btn-sm btn-secondary" href="{{ path('idea_index') }}">Retour</a>
                <button class="btn btn-info"><i class="fas fa-edit"></i>&nbsp;Modifier</button>
            {% else %}
                <a class="btn btn-sm btn-secondary" href="{{ path('idea_index') }}">Retour</a>
                <button class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Ajouter</button>
            {% endif %}
        </div>
    {{ form_end(form) }}

{% endblock %}
