{% extends 'layout.html.twig' %}

{% block title %} - Les idées de recettes à tester{% endblock %}

{% block content %}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <a href="{{ path('idea_create') }}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Ajouter une idée de recette</a>
        </div>
    {% endif %}
    
    {% include 'include/_breadcrumb.html.twig' with {'title': 'Les idées de recettes à tester'} only %}

    <section class="list-idea-area section-padding-80-0">
        <div class="container">
            <div class="row">
                {% for idea in ideas %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-idea-area d-flex">
                            <div class="thumb">
                                <img src="{{ idea.image }}" alt="">
                            </div>
                            <div class="content">
                                <span>{{ date()|date("d M Y") }}</span>
                                <a href="{{ idea.link }}" target="_blank"><h5>{{ idea.name }}</h5></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
