{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <section class="cta-area bg-img bg-overlay mt-3" style="background-image: url(images/home.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2>Mes Recettes</h2>
                        <p>Trouvez ici toutes mes recettes de cuisine. Que se soit des recettes de cuisine traditionnelles, 
                        de terroir ou de tous les jours ou alors des patisseries pour les gourmands, je vous propose une liste de de recettes pour tous les goûts.</p>
                        <a href="{{ path('recipe_index') }}" class="btn delicious-btn btn-1">Découvrir toutes les recettes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="list-recipe-area mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Les recettes les plus populaires</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in recipes %}
                    {% include 'recipe/_list-one.html.twig' with {'item': item} only %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="list-category-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Catégories</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% set delay = 2 %}
                {% for item in categories[:3] %}
                    {% set delay = delay - 0.5 %}
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="single-category-area mb-30 wow bounceInLeft" data-wow-duration="1s" data-wow-delay="{{ delay }}s">
                            <div class="img-hover-zoom rounded-circle">
                                <a href="{{ path('category_show', {'id': item.0.id}) }}">
                                    <img src="{{ asset(uri_category~'/'~item.0.id~'.jpg') | imagine_filter('cat') }}">
                                </a>
                            </div>
                            <div class="category-title">
                                <a href="{{ path('category_show', {'id': item.0.id}) }}"><h5>{{ item.0.name }}</h5></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% set delay = 0 %}
                {% for item in categories[3:] %}
                    {% set delay = delay + 0.5 %}
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="single-category-area mb-30 wow bounceInRight" data-wow-duration="1s" data-wow-delay="{{ delay }}s">
                            <div class="img-hover-zoom rounded-circle">
                                <a href="{{ path('category_show', {'id': item.0.id}) }}">
                                    <img src="{{ asset(uri_category~'/'~item.0.id~'.jpg') | imagine_filter('cat') }}">
                                </a>
                            </div>
                            <div class="category-title">
                                <a href="{{ path('category_show', {'id': item.0.id}) }}"><h5>{{ item.0.name }}</h5></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
