{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="container">

    <div class="jumbotron my-5">
        <div class="float-left">
            <img src="{{ asset(uri_recipe~'/'~random.id~'.jpg') | imagine_filter('thumb') }}" width="400" class="mx-3">
        </div>
        <div>
            <h1 class="display-4">Mes recettes</h1>
            <p class="lead">Retrouvez toutes mes recettes favorites</p>
            <hr class="my-4">
            <p>&nbsp;</p>
            <a class="btn btn-primary btn-lg" href="{{ path('recipe_index') }}" role="button">Voir toutes les recettes</a>
        </div>
    </div>

    <h2 class="my-5">Recettes</h2>
    <div class="row my-2">
    {% for item in recipes %}
        <div class="col-4">
            <figure class="figure">
                <a href="{{ path('recipe_show', { id: item.id }) }}" class="img-hover-zoom"><img  src="{{ asset(uri_recipe~'/'~item.id~'.jpg') | imagine_filter('thumb') }}" class="figure-img img-fluid rounded"></a>
                <figcaption><a href="{{ path('recipe_show', { id: item.id }) }}" class="text-dark d-block mt-1 font-weight-bold">{{ item.name }}</a></figcaption>
            </figure>
        </div>
    {% endfor %}
    </div>

    <h2 class="my-5">Catégories</h2>
    <div class="row my-2 text-center">
    {% for item in categories %}
        <div class="col-2">
            <figure class="figure">
                <a href="{{ path('category_show', {'id': item.0.id}) }}" class="img-hover-zoom rounded-circle"><img src="{{ asset(uri_category~'/'~item.0.id~'.jpg') | imagine_filter('cat') }}" class="figure-img img-fluid rounded-circle"></a>
                <figcaption><a href="{{ path('category_show', {'id': item.0.id}) }}" class="text-dark d-block mt-1 font-weight-bold">{{ item.0.name }}</a></figcaption>
            </figure>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
